h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;        
}

.menu {
    display: flex;
    justify-content: center;
    
    
}
.menu {
    padding: 10px;
    font-size: 14px;
    color: white;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
    font-family: monospace;
    background-color: burlywood;       
}


/* div.beranda {
    background-color: rgb(0, 0, 106);
}

div.catatan {
    background-color: brown;
}

div.puisi {
    background-color: green;
}

div.profil {
    background-color: black;
}

div.kontak {
    background-color: black;
}

div.cari {
    background-color: black;
} */

/* .text {
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: -40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
} */

div.post button {
    width: 300px;
    height: 200px;
    margin-top: 50px; 
    border-radius: 20px;
}

.grid-konten {
    display: grid;
    grid-column-gap: 150px;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;   
}

p {
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -30px;
   
}

.beranda {
    padding: 5px;
}

.catatan {
    padding: 5px;
}

.puisi {
    padding: 5px;
}

.profil {
    padding: 5px;
}

.penulis {
    padding: 5px;
}

.kontak {
    padding: 5px;
}
