h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    
       
}

.menu {
    display: flex;
    justify-content: center;
    
    
}
.menu div {
    padding: 10px;
    font-size: 12px;
    color: white;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;
        
}

/* div.beranda {
    background-color: rgb(0, 0, 106);
}

div.catatan {
    background-color: brown;
}

div.puisi {
    background-color: green;
}

div.profil {
    background-color: black;
}

div.kontak {
    background-color: black;
}

div.cari {
    background-color: black;
} */

.text {
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: -40px;
    font-family: 'Courier New', Courier, monospace;
    width: 700px;
   

}